<div class="grid">
  <div class="col-6">
    <h4 class="mb-0">Productividad</h4>
    <small>Establecer procesos para automatizar las tareas rutinarias y ser más eficiente</small>
    <div class="grid mt-2">
      <div class="col-6">
        <p-card [style]="{'border-style': 'ridge'}" class="cursor-pointer">
          <div class="flex justify-content-center flex-wrap card-container">
            <span class="pi pi-envelope flex align-items-center justify-content-center"></span>
            <span class="ml-2 flex align-items-center justify-content-center">Respuestas automáticas</span>
          </div>
        </p-card>
      </div>
    </div>
    <p-divider></p-divider>

    <h4 class="mb-0">Gestión de Usuarios</h4>
    <small>Gestión de agentes y usuarios finales de su Service Desk</small>
    <div class="grid mt-2">
      <div class="col-6">
        <p-card [style]="{'border-style': 'ridge'}" class="cursor-pointer">
          <div class="flex justify-content-center flex-wrap card-container">
            <span class="pi pi-user flex align-items-center justify-content-center"></span>
            <span class="ml-2 flex align-items-center justify-content-center">Solicitantes</span>
          </div>
        </p-card>
      </div>
    </div>

  </div>
</div>
