<div class="grid">
  <div class="col-6">
    <h4>Productividad</h4>
    <div class="grid">
      <div class="col-6">
        <p-card [style]="{'border-style': 'ridge'}" class="cursor-pointer">
          <div class="flex justify-content-center flex-wrap card-container">
            <span class="pi pi-envelope flex align-items-center justify-content-center"></span>
            <span class="ml-2 flex align-items-center justify-content-center">Respuestas automáticas</span>
          </div>
        </p-card>
      </div>
    </div>
    <p-divider></p-divider>

    <h4>Gestión de Usuarios</h4>
    <div class="grid">
      <div class="col-6">
        <p-card [style]="{'border-style': 'ridge'}" class="cursor-pointer">
          <div class="flex justify-content-center flex-wrap card-container">
            <span class="pi pi-user flex align-items-center justify-content-center"></span>
            <span class="ml-2 flex align-items-center justify-content-center">Solicitantes</span>
          </div>
        </p-card>
      </div>
    </div>

  </div>
</div>
