<div class="grid">
  <div class="col-9">
    <p-table [value]="tickets" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Asunto</th>
              <th>Solicitante</th>
              <th>Estado</th>
              <th>Prioridad</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
          <tr class="cursor-pointer">
              <td>{{ticket.asunto}}</td>
              <td>
                <p-avatar [label]="ticket.solicitante.avatar" size="medium" shape="circle" [style]="ticket.solicitante.color"></p-avatar>
                {{ticket.solicitante.nombre}}
              </td>
              <td>
                <p-tag styleClass="mr-2" [icon]="ticket.estado.icono" [severity]="ticket.severity" [value]="ticket.estado.etiqueta"></p-tag>
              </td>
              <td>
                {{ticket.prioridad.etiqueta}}
                <i [class]="ticket.prioridad.icono"></i>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col-3 p-5">
    <h3>Filtros</h3>
    <p-divider></p-divider>
  </div>
</div>

