<div class="grid">
  <div class="col-5">
    <p-card header="Tickets atendidos">
      <div class="flex justify-content-center flex-wrap card-container">
        <p-chart type="doughnut" [data]="data1" width="20vw" height="40vh"></p-chart>
      </div>
    </p-card>
  </div>

  <div class="col-5 ml-5">
    <p-card header="Rating de incidencias">
      <div class="flex justify-content-center flex-wrap card-container">
        <p-chart type="radar" [data]="data2" width="20vw" height="40vh"></p-chart>
      </div>
    </p-card>
  </div>
</div>
